# The best approach is to prevent them from being created in the first place.
# You can use `.gitkeep` files in directories that *must* exist.  If you
# still want to include the directories use the following pattern to keep them
# from showing changes, but not prevent them from being staged:
# */
# !*/.gitkeep

# Ignore CSV files
*.csv
*.pkl


# Ignore PyTorch model files and weights directory
*.pth
*.pt
*.ckpt
*.safetensors

# If you *don't* want to ignore the Weights folder, remove the next line:
Weights/


# Ignore Jupyter Notebook checkpoints and other temp files
.ipynb_checkpoints/

# Ignore Python bytecode and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
wheels/

# node_modules
node_modules/

# Ignore virtual environment
venv/
env/
.venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files (adjust for your IDE)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Ignore temporary files and backups
*~
\#*#
.*.swp
.*.swo
*.bak
*.tmp
*.log